* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 0 auto;
  padding: 0;
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-de-link);
}

.menu-outside-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container-content {
  flex: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1136px;
}

.menu-outside-container header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  padding: 3.2rem 8rem;
  gap: 0.8rem;
}

.menu-outside-container header img {
  width: 22px;
  height: 22px;
}

.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3.2rem;

  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.878rem;
}

.menu-list-item {
}

.menu.list.item.contato {
}

/* main */

.title-outside-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container-content {
  flex: 1;

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;

  max-width: 1136px;

  padding: 6.1rem 8rem;
}

.title-profile {
  max-width: 368px;
  min-width: 146px;
  order: 2;

  border-radius: 100%;
}

.title-container {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  max-width: 751px;
}

.title-bio {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 6.105rem;
}

.title-subsection {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 2.583rem;
}

.title-network {
  display: flex;
  flex-direction: row;
  gap: 3.2rem;
  font-size: 1.6rem;
}

.title-network-item {
}

.title-network-item a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.469rem;
}

.title-network-item img {
  height: 16px;
  width: 16px;
  object-fit: scale-down;
}

/* About */

.about-outside-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaf2fd;
}

.about-container-content {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  padding: 6.4rem 8rem;
  max-width: 1136px;
}

.about-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.757rem;
}

.about-paragraph {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.878rem;
}

.about-container-content img {
  width: 140px;
}

/* Skills and Hobbies */

.cards-outside-container {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container-content {
  flex: 1;
  max-width: 1136px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-title {
  font-weight: 700;
  font-size: 3.2rem;
  line-height: 3.757rem;

  text-align: center;

  margin-top: 3.2rem;
}

#hobbies {
  margin: 8.8rem 0;
}

.cards-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.6rem;

  margin-top: 3.2rem;
}

.cards-box {
  flex: 1;

  width: 176px;
  height: 176px;

  background-color: #ffffff;

  display: flex;
  justify-content: start;
  align-items: end;

  padding: 0 0 1.6rem 1.6rem;
}

.cards-img {
  width: 24px;
  height: 37px;
}

.cards-name {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.878rem;
}
